@tailwind base;
@tailwind components;
@tailwind utilities;

.keyTip {
    @apply text-gray-50 bg-amber-600 px-1.5 py-0.5 rounded shadow inline-block font-mono text-sm leading-4 font-bold text-shadow-sm;
    font-size: .7rem;
    line-height: .9rem;
    margin: 0 .2em;
}

.keyTip-symbol {
    @apply inline-block font-mono font-bold mr-1 tracking-wide;
    font-size: 1.1rem;
    /* margin: 0 .1em; */
}

.session-code-dashed-box {
    @apply text-amber-500 z-0 hover:text-blue-500 tracking-wider font-mono font-semibold border-2 border-gray-500 dark:border-gray-600 border-dashed px-1.5 pt-0.5 leading-none;
}

.session-code-dashed-box:hover {
    @apply border-blue-500 dark:border-blue-500;
}

.session-code-dashed-box:focus {
    @apply border-blue-500 dark:border-blue-500;
}

.session-code-dashed-box-invalid {
    @apply text-amber-200 dark:text-amber-800 border-gray-500 dark:border-gray-500;
}

